*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* input:focus{
    background-color: black;
} */

.scroll{
    background-color: cyan;
    width: 200px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}